body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
}

p {
  margin-top: 0;
}

img.img-responsive {
  width: 200px;
  height: 200px;
  margin: auto;  
}